* {
    font-size: 16px;
  }

#knockTitle{
    text-align: center;
    color: blue;
}


/* The animation code */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; color: white;left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* The element to apply the animation to */
div {
  width: 250px;
  height: 100px;
  position: relative;
  background-color: white;
  animation-name: example;
  animation-duration: 4s;
}

.bubble {
  width: 40%;
  height: 25%;
  left: 73%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vmin;
  background: #ffd;
  box-shadow: 0 -0.25vmin, 0 0.125vmin;
  font-family: "Comic Sans", "Comic Neue", sans-serif;
}

.bubble::before {
  width: 40%;
  height: 100%;
  bottom: -51%;
  border-radius: 50%;
  left: 10%;
  box-shadow: 0.5vmin 0, 2vmin -0.5vmin #ffd, 2vmin -0.5vmin 0 0.5vmin;
  clip-path: polygon(0% 49%, 150% 48%, 150% 100%, 0% 100%);
}

#knockTitle {
  background-image: url("KnockKnockGanmeImage.png");
}